<section class="absolute z-50 w-full py-5 bg-white">
  <div class="px-3">
    <div class="flex justify-between py-3 border-b border-gray-500 border-solid">
      <div class="flex">
        <img src="/logo-BfNap0Pe.png" class="w-10 h-10" alt="">
        <h1 class="text-2xl font-semibold ms-1">Recipe</h1>
      </div>
      <span class="text-2xl font-semibold text-blue-600">Route</span>
    </div>
    <p class="py-8 text-center text-gray-500">&copy; 2025 Anas Anwar™. All Rights Reserved.</p>
  </div>
</section>