<div class="flex min-h-screen">
  <!-- Sidebar -->
  <app-sidebar [isSidebarOpen]="isSidebarOpen" (sidebarToggled)="toggleSidebar()"></app-sidebar>

  <!-- Main Content -->
  <div class="relative flex flex-col flex-1 transition-all duration-300 ease-in-out">
    <!-- Navbar for Small Screens -->
    <header class="flex items-center justify-between p-4 bg-white shadow-md dark:bg-gray-800 md:hidden">
      <span class="text-lg font-semibold text-gray-800 dark:text-white">My App</span>
      <button (click)="toggleSidebar()"
        class="text-gray-600 transition-transform transform dark:text-gray-300 hover:scale-110">
        ☰
      </button>
    </header>

    <!-- Content -->
    <div class="min-h-screen bg-gray-[#f4f2ee]">
      <main class="flex-1 p-6 overflow-y-auto animate-fade-in w-full md:w-[75%] md:ml-[25%] lg:w-[80%] lg:ml-[20%]">
        <!-- <app-main class="min-h-screen"></app-main> -->
        <router-outlet></router-outlet>
      </main>
    </div>

    <!-- Footer -->
    <app-footer class="w-full"></app-footer>
  </div>
</div>